*.doc filter=lfs diff=lfs merge=lfs -text
*.SLDPRT filter=lfs diff=lfs merge=lfs -text
*.SLDASM filter=lfs diff=lfs merge=lfs -text
*.SLDDRW filter=lfs diff=lfs merge=lfs -text
*.PRT filter=lfs diff=lfs merge=lfs -text
*.ASM filter=lfs diff=lfs merge=lfs -text
*.DRW filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.DOCM filter=lfs diff=lfs merge=lfs -text
*.DOCX filter=lfs diff=lfs merge=lfs -text
*.Dotm filter=lfs diff=lfs merge=lfs -text
*.Dotx filter=lfs diff=lfs merge=lfs -text
*.mht filter=lfs diff=lfs merge=lfs -text
*.mhtml filter=lfs diff=lfs merge=lfs -text
*.Odt filter=lfs diff=lfs merge=lfs -text
*.PDF filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.Rtf filter=lfs diff=lfs merge=lfs -text
*.Ods filter=lfs diff=lfs merge=lfs -text
*.Xla filter=lfs diff=lfs merge=lfs -text
*.Xlam filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.Xlsb filter=lfs diff=lfs merge=lfs -text
*.Xlsm filter=lfs diff=lfs merge=lfs -text
*.XLSX filter=lfs diff=lfs merge=lfs -text
*.Xlt filter=lfs diff=lfs merge=lfs -text
*.Xltm filter=lfs diff=lfs merge=lfs -text
*.Xltx filter=lfs diff=lfs merge=lfs -text
*.Xlw filter=lfs diff=lfs merge=lfs -text
*.BMP filter=lfs diff=lfs merge=lfs -text
*.Emf filter=lfs diff=lfs merge=lfs -text
*.GIF filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.odp filter=lfs diff=lfs merge=lfs -text
*.PNG filter=lfs diff=lfs merge=lfs -text
*.potm filter=lfs diff=lfs merge=lfs -text
*.Potx filter=lfs diff=lfs merge=lfs -text
*.Ppa filter=lfs diff=lfs merge=lfs -text
*.Ppam filter=lfs diff=lfs merge=lfs -text
*.Pps filter=lfs diff=lfs merge=lfs -text
*.Ppsm filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.Pptm filter=lfs diff=lfs merge=lfs -text
*.PPTX filter=lfs diff=lfs merge=lfs -text
*.Rtf filter=lfs diff=lfs merge=lfs -text
*.Tif filter=lfs diff=lfs merge=lfs -text
*.Wmf filter=lfs diff=lfs merge=lfs -text
*.Wmv filter=lfs diff=lfs merge=lfs -text
*.CATProduct filter=lfs diff=lfs merge=lfs -text
*.CATPart filter=lfs diff=lfs merge=lfs -text
*.CATDrawing filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.mks filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.step filter=lfs diff=lfs merge=lfs -text
*.stp filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text